<!DOCTYPE html>

<title>Hello CancelarRutasController!</title>
<link rel="stylesheet" href="{{asset('css/cancelarutas.css')}}">

{% block body %}
    <h1>Cancelar rutas</h1>
            <table class="listado">
                <thead>
                    <tr>
                        <th><h1>ID</h1></th>
                        <th><h1>Título</h1></th>
                        <th><h1>Descripción</h1></th>
                        <th><h1>Estado</h1></th>
                        <th colspan="2"><h1>Estado</h1></th>
                    </tr>
                </thead>
                <tbody>
                {% if rutas %}
                    {% for ruta in rutas %}
                        <tr>
                            <td>{{ruta.id}}</td>
                            <td>{{ruta.titulo}}</td>
                            <td>{{ruta.descripcion}}</td>
                            <td>{{ruta.estado}}</td>
                            <td class="icono"><a href="{{path('app_cancela_ruta',{id: ruta.id})}}"><span class="fa fa-times-circle">Cancelar</span></a></td>	
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
{% endblock %}
